body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 130vh;
    font-family: 'PT Serif', serif;
  color: white;
   background-image: url(Images/smarties.jpg);
   background-size: cover;
  }

  h1{
    font-size: 80px;
    margin: 0px;
    padding: 0px;
  }

  h2{
    font-size: 31,7px;
    margin: 0px;
    margin-bottom: 20px;
  }

#title-text{
  padding-left: 150px;
  padding-top: 100px;
}

#obsess-button{
  background-color: #D56F5F;
  text-decoration: none;
  color: #f1f1f1;
  size: 21,2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  border-radius: 25px;
  font-family: 'PT Serif', serif;
}


  .overlay{
    padding: 0px;
    margin: 0%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      background: white;
      z-index: -1;
      
  }

  
#main-menu {
    display: block;
    height: 100px;
    width: 100%;
    
    margin: 0px;  
    z-index: 9;
    
  }
  
  #main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin-left: 150px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    z-index: 9;
    align-self: left;
  }
  
  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
    margin: 20px;
  }
  
  #main-menu a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 32px;
      height: 32px;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'Inter', sans-serif;
      background: linear-gradient(
        to bottom, 
        black, black 20%, 
        #f1f1f1 20%, #f1f1f1 40%, 
        black 40%, black 60%, 
        #f1f1f1 60%, #f1f1f1 80%, 
        black 80%, black 100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 200px;
      height: 100%;
      background-color: white;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: white;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  @media screen and (max-width: 750px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }
  
