.tooltip {
  position: relative;
  display: inline-block;
 
}

.wireframe{
  width: 100%;
}

.UI-elements{
  margin: 50px;;
}

.style-heading{
  text-align: center;
vertical-align: middle;
line-height: 100px;  
}

.colour-name{
  text-align: center;
vertical-align: middle;
line-height: 100px;   
margin-top: auto;
}

.colours{
  column-count: 6;
}

#colour1{
  border-radius: 50px;
  background-color: #A46A7E;
  height: 100px;
  width: 100px;
}

#colour2{
  border-radius: 50px;
  background-color: #2A0C4E;
  height: 100px;
  width: 100px;
}

#colour3{
  border-radius: 50px;
  background-color: #95668D;
  height: 100px;
  width: 100px;
}
#colour4{
  border-radius: 50px;
  background-color: #CA93AC;
  height: 100px;
  width: 100px;
}

#colour5{
  border-radius: 50px;
  background-color: #E5AABC;
  height: 100px;
  width: 100px;
}

#colour6{
  border-radius: 50px;
  background-color: #FFC0CB;
  height: 100px;
  width: 100px;
}



#hover-font{
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
body {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    min-height: 130vh;
    font-family: 'Merriweather Sans', sans-serif;;
   background-size: cover;
   background-color: #F6F1ED;
  }

  #style-sheet{
    color: black;
  }

  #big-font{
    font-family: 'Merriweather Sans', sans-serif;;
font-size: 70px;
font-weight: bold;
margin: 10px;
color: black;
  }
  
  #big-fontB1{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    
    border-radius: 20px;
    padding: 10px;
    color: black;
      }


  #mid2-font{
    font-size: 30px;
    margin: 10px;
    color: black;
  }

  #mid-font{
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    color: black;
  }

  #small-font {
    font-size: 15px;
    margin: 10px;
    color: black;
    
  }

  #tertiary-body {
    color: #2A0C4E;
   
  }

  #tertiary-body h1{
    padding-left: 150px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5px;
    padding-top: 5%;
  }




  .grid-item{
    background-size: cover;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-item p{
  
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    color: #f1f1f1;
  
  }

  .grid-item a{
   
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    text-decoration: none;
   
  }


  .grid-item p :hover{
    color: pink;
  }


  #week3, #home-des {
    background-image: url(/Images/ricecakes.webp);
  }

  #week4, #art-des{
    background-image: url(/Images/allsorts.webp) ;
  }

  #week5, #blog-des{
    background-image: url(/Images/Macroons.webp);
    background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  }

  #week6 {
    background-image: url(/Images/purple.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  #week7 {
    background-image: url(/Images/pink.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }

  #week8 {
    background-image: url(Images/blue.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }

  #week9 {
    background-image: url(/Images/red.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }

  #week10 {
    background-image: url(/Images/smarties-organized.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }

  #week11 {
    background-image: url(/Images/red-smarties.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }


  

  .article{
    padding-left: 20%;
    padding-right: 20%;
  }

  .article-h1{
    color: #f1f1f1;
    background-image: url(/Images/pink.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .article h2{
    font-size: 30px;
    margin-bottom: 0;
  }

  #tertiary-body h1{
    background-image: url(/Images/pink.webp);
    color: #F6F1ED;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .date {
    font-size: 10px;

  }

  .main-body{
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-image: url(/Images/pinkhearts.jpg);
   
  }

  #secondary-body{
    color: #2A0C4E;
    background-color: #f1f1f1;
    align-items: center;
  }

  h1{
    font-size: 80px;
    margin: 0px;
    padding: 0px;
  }

  h2{
    font-size: 31,7px;
    margin: 0px;
    margin-bottom: 40px;
  }

  h3{
    font-size: 20px;
    margin: 0px;
  }

#title-text{
  padding-left: 150px;
  padding-top: 100px;
}

#obsess-button{
  background-color: #A46A7E;
  text-decoration: none;
  color: #f1f1f1;
  size: 21,2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  border-radius: 25px;
  font-family: 'PT Serif', serif;
}


  .overlay{
    padding: 0px;
    margin: 0%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      background: white;
      z-index: -1;
      
  }

  
#main-menu, #main-menu2, #main-menu3 {
    display: block;
    height: 100px;
    width: 100%;
    
    margin: 0px;  
    z-index: 9;
    
  }
  
  #main-menu ul,  #main-menu2 ul,  #main-menu3 ul{
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin-left: 150px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    z-index: 9;
    align-self: left;
  }
  
  #main-menu li, #main-menu2 li,  #main-menu3 li {
    list-style-type: none;
    font-size: 2rem;
    margin: 20px;
  }
  
  #main-menu2 a {
    color: #D56F5F;
    font-size: 1.8rem;
    text-decoration: none;
  }

  #main-menu3 a {
    color: #A46A7E;
    font-size: 1.8rem;
    text-decoration: none;
  }

   #main-menu a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
  } 
  
  #main-menu a:hover, #main-menu2 a:hover{
    text-decoration: underline;
  }
  
  #hamburger-input{
    display: none;
  }

  #hamb{
      height: 80px;
      width: 60px;
      margin: 20px;
  }
  
  #hamburger-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 32px;
      height: 32px;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'PT Serif', sans-serif;
      background: linear-gradient(
        to bottom, 
        black, black 20%, 
        #f1f1f1 20%, #f1f1f1 40%, 
        black 40%, black 60%, 
        #f1f1f1 60%, #f1f1f1 80%, 
        black 80%, black 100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 200px;
      height: 100%;
      background-color: white;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: white;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  @media screen and (max-width: 750px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }
  
